h1 {
  justify-self: center;
  padding: 10%;
}
flex {
  display: flex;
  flex-direction: column;
  bottom: 5%;
  position: absolute;
  justify-content: space-around;
}
flex>p {
  padding: 10px;
}
p#mode {
  bottom: 5%;
  right: 5%;
  padding: 10px;
  position: absolute;
  border: 2px solid black;
  background: white;
}

input {
  justify-self: center;
}
